body {
    background-color: gainsboro;
    font-family: Calibri, sans-serif;
}

.wrapper {
    position: relative;
    overflow-x: hidden;
}

.block {
    margin: 0 -5px;
}

.block__inside {
    width: 100%;
    min-height: 20vh;
    margin: 0 5px 10px;
    padding: 10px;
    background-color: white;
}

.content {
    width: 100%;
    min-height: 35vh;
    padding: 0 10px 10px;
    background-color: white;
}

.aside {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: white;
}

h1 { 
    font-size: 48px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
}

h2 { 
    font-size: 32px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
}

strong {
    font-size: 28px;
    font-style: normal;
    font-variant: normal; 
    font-weight: 400; 
}

ul {
    margin-left: 0;
    padding-left: 0;
}

li {
    list-style-type: none;
    padding: 20px 0;
    padding-left: 10%;
    background-color: silver;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .clearfix::after {
        content: "";
        clear: both;
        display: table;
    }
    
    .block__inside {
        width: calc(50% - 10px);
        float: left;
    }
    
    .block__inside:last-child {
        clear: both;
        width: 100%;
    }
}

@media screen and (min-width: 1024px) {
    .container {
        max-width: 1024px;
        padding: 0 15px;
        margin: 0 auto;
    }

    .clearfix::after {
        content: "";
        clear: both;
        display: table;
    }
    
    .block__inside {
        width: calc(100% / 3 - 10px);
        float: left;
    }
    
    .content__inside {
        width: calc(100% / 3 * 2);
        float: left;
    }

    .aside {
        width: calc(100% / 3);
        float: left;
    }
}