body {
    background-color: purple;
}

.wrapper {
    position: relative;
    overflow-x: hidden;
}

main {
    display: flex;
    flex-flow: column wrap;
}

.block__inside {
    width: calc(100% - 20px);
    min-height: 35vh;
    margin: 0 10px;
    background-color: rgb(101, 81, 172);
    border: 1px solid black;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

aside {
    width: calc(100% - 20px);
    margin: 0 10px;
    border: 1px solid black;
    padding: 10px;
    background-color: purple;
}

h1 {
    text-align: center;
}

@media screen and (min-width: 580px) and (max-width: 1023px) {
    main {
        flex-flow: row wrap;
    }

    h1 {
        width: 100%;
    }

    .block {
        width: calc(100% / 3 * 2);
    }

    aside {
        width: calc(100% / 3 - 20px);
    }
}

@media screen and (min-width: 1024px) {
    main {
        flex-flow: row wrap;
    }
    
    .block {
        display: flex;
        width: calc(100% / 3 * 2);
    }

    .block_inside {
        width: calc(100% / 3);
    }

    h1 {
        width: 100%;
    }

    aside {
        width: calc(100% / 3 - 20px);
        margin: var(--margin);
    }

    .block__inside:last-child {
        margin-left: 0;
    }

    .block__inside:first-child {
        margin-right: 0;
    }
}