*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul[class],
ol[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

body {
  background-color: orange;
}

.traffic_light {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 200px;
  min-height: 510px;
  border-radius: 5%;
  background-color: black;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%);
  -webkit-transform: translate(-50%);
  -moz-transform: translate(-50%);
  -ms-transform: translate(-50%);
  -o-transform: translate(-50%);
  -webkit-border-radius: 5%;
  -moz-border-radius: 5%;
  -ms-border-radius: 5%;
  -o-border-radius: 5%;
}

.traffic_light span {
  width: 130px;
  height: 130px;
  background-color: gray;
  margin: 10px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.traffic_light .red {
  -webkit-animation-name: red;
          animation-name: red;
  -webkit-animation-duration: 7s;
          animation-duration: 7s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.traffic_light .yellow {
  -webkit-animation-name: yellow;
          animation-name: yellow;
  -webkit-animation-duration: 7s;
          animation-duration: 7s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.traffic_light .green {
  -webkit-animation-name: green;
          animation-name: green;
  -webkit-animation-duration: 7s;
          animation-duration: 7s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.leg {
  width: 40px;
  height: 800px;
  background-color: black;
  position: absolute;
  top: calc(510px + 15%);
  left: 50%;
  transform: translate(-50%);
  -webkit-transform: translate(-50%);
  -moz-transform: translate(-50%);
  -ms-transform: translate(-50%);
  -o-transform: translate(-50%);
}

@-webkit-keyframes red {
  0%, 46%, 100% {
    background-color: gray;
  }
  5%, 43% {
    background-color: red;
  }
}

@keyframes red {
  0%, 46%, 100% {
    background-color: gray;
  }
  5%, 43% {
    background-color: red;
  }
}

@-webkit-keyframes yellow {
  0%, 20%, 45%, 85% {
    background-color: gray;
  }
  25%, 41%, 87%, 100% {
    background-color: yellow;
  }
}

@keyframes yellow {
  0%, 20%, 45%, 85% {
    background-color: gray;
  }
  25%, 41%, 87%, 100% {
    background-color: yellow;
  }
}

@-webkit-keyframes green {
  0%, 40%, 82%, 100% {
    background-color: gray;
  }
  50%, 80% {
    background-color: green;
  }
}

@keyframes green {
  0%, 40%, 82%, 100% {
    background-color: gray;
  }
  50%, 80% {
    background-color: green;
  }
}
/*# sourceMappingURL=style.css.map */