@import 'reset';

body {
    background-color:orange;
}

.traffic_light {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    width: 200px;
    min-height: 510px;
    border-radius: 5%;
    background-color: black;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%);
    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -ms-transform: translate(-50%);
    -o-transform: translate(-50%);
    -webkit-border-radius: 5%;
    -moz-border-radius: 5%;
    -ms-border-radius: 5%;
    -o-border-radius: 5%;

    span {
        width: 130px;
        height: 130px;
        background-color: gray;
        margin: 10px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
}

    .red {
        animation-name: red;
        animation-duration: 7s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }

    .yellow {
        animation-name: yellow;
        animation-duration: 7s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }

    .green {
        animation-name: green;
        animation-duration: 7s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }
}

.leg {
    width: 40px;
    height: 800px;
    background-color: black;
    position: absolute;
    top: calc(510px + 15%);
    left: 50%;
    transform: translate(-50%);
    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -ms-transform: translate(-50%);
    -o-transform: translate(-50%);
}  

@keyframes red {
  0%,  46%, 100% {
    background-color: gray;
  }
  5%, 43% {
    background-color: red;
  }
}

@keyframes yellow {
  0%, 20%, 45%, 85% {
    background-color: gray;
  }
  25%, 41%, 87%, 100% {
    background-color: yellow;
  }
}

@keyframes green {
  0%, 40%, 82%, 100% {
    background-color: gray;
  }
  50%, 80% {
    background-color: green;
  }
}